<div class="container">
  <div class="py-5 text-center">
    <h2>Add a new pet</h2>
  </div>

  <div class="row">
    <div class="col-md-12 order-md-1">
      <form [formGroup]="petForm" (ngSubmit)="onSubmit()">

        <div class="mb-3">
          <label for="name">Name</label>
          <div class="input-group">
            <input type="text" id="name" formControlName="petName" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.petName.errors }"/>
            <div *ngIf="submitted && f.petName.errors" class="invalid-feedback">
              <div *ngIf="f.petName.errors['required']">Name is required</div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="code">Code</label>
          <div class="input-group">
            <input type="text" class="form-control" id="code"
                   placeholder="Code" formControlName="petCode" class="form-control"
                   [ngClass]="{ 'is-invalid': submitted && f.petCode.errors }"/>
            <div *ngIf="submitted && f.petCode.errors" class="invalid-feedback">
              <div *ngIf="f.petCode.errors['required']">Code is required</div>
              <div *ngIf="f.petCode.errors['minlength']">Code must be at least 6 characters</div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <label for="types">Type</label>
          <select class="custom-select d-block w-100" id="types" formControlName="type"
                  [ngClass]="{ 'is-invalid': submitted && f.type.errors }">
            <option value="" disabled selected>Choose...</option>
            <option *ngFor="let type of types">{{type.name}}</option>
          </select>
          <div *ngIf="submitted && f.type.errors" class="invalid-feedback">
            <div *ngIf="f.type.errors['required']">Type must be selected</div>
          </div>
        </div>


        <div class="mb-3">
          <label for="colors">Fur color</label>
          <select class="custom-select d-block w-100" id="colors" formControlName="color"
                  [ngClass]="{ 'is-invalid': submitted && f.color.errors }">
            <option value="" disabled selected>Choose...</option>
            <option *ngFor="let color of colors">{{color.name}}</option>
          </select>
          <div *ngIf="submitted && f.color.errors" class="invalid-feedback">
            <div *ngIf="f.color.errors['required']">Color must be selected</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="countries">Country of origin</label>
          <select class="custom-select d-block w-100" id="countries" formControlName="country"
                  [ngClass]="{ 'is-invalid': submitted && f.country.errors }">
            <option value="" disabled selected>Choose...</option>
            <option *ngFor="let country of countries">{{country.name}}</option>
          </select>
          <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
            <div *ngIf="f.country.errors['required']">Country must be selected</div>
          </div>
        </div>

        <button class="btn btn-primary btn-lg btn-block" type="submit">
          Add Pet
        </button>

      </form>
    </div>
  </div>

  <footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">© 2022 Wisercat</p>
  </footer>
</div>
