<div class="container">
  <div class="py-5 text-center">
    <h2>Pets</h2>
  </div>
  <a routerLink="/users/{{userId}}/pets/add" class="btn btn-primary">Add pet</a>

  <div class="row">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Code</th>
        <th scope="col">Type</th>
        <th scope="col">Fur color</th>
        <th scope="col">Country</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let pet of pets">
        <th scope="row">{{pet.id}}</th>
        <td>{{pet.name}}</td>
        <td>{{pet.code}}</td>
        <td>{{pet.type}}</td>
        <td>{{pet.color}}</td>
        <td>{{pet.country}}</td>
        <td>
          <a href="#" class="btn btn-primary">Edit pet</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <p class="mb-1">© 2022 Wisercat</p>
</footer>
